<section class="container-fluid bg-light we py-5" id="about">
  <h2 class="text-center mb-4">Pourquoi HandyApp?</h2>

  <div class="container we-content py-5 px-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3 text-center">
          <img src="assets/parkinson.jpg" height="500" width="500" class="img-fluid lotus-image" alt="Description de l'image de la mer" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="mb-3 history">
          <h3 class="text-center">A propos de nous</h3>
          <p class="mx-3">
            Chez HandyApp, nous croyons que chaque service rendu avec soin fait la différence. Notre mission est de faciliter la mise en relation
            entre les clients et des prestataires de confiance, tout en valorisant le savoir-faire humain. Notre plateforme a été pensée pour
            simplifier votre quotidien : que vous ayez besoin d’aide à domicile, d’un service professionnel ou d’un accompagnement ponctuel, nous vous
            aidons à trouver la bonne personne, au bon moment.
          </p>
          <h3 class="text-center">Qualité et efficacité exceptionnels</h3>
          <p class="mx-3">
            Nous sélectionnons nos prestataires avec exigence, en nous assurant de leur compétence, fiabilité et sens du service. Chaque prestation
            est conçue pour répondre à vos besoins réels, avec un souci constant de qualité et de transparence.
          </p>
          <p class="mx-3">
            Notre objectif : vous offrir une expérience simple, rapide et sécurisée, afin que vous puissiez avancer avec confiance dans tous vos
            projets.
          </p>
          <a href="" class="buton-second">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</section>
