<p>provider-list works!</p>
<div class="container my-5">
  <h2 class="text-center mb-4">Nos Services</h2>

  <div class="row">
    @for (provision of provisions$ | async; track provision.id) {
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="text-center p-3"></div>
          <div class="card-body text-center">
            {{ provision.name }}
            <h5 class="card-title fw-bold" style="color: black">{{ provision.name }}</h5>
            <p class="card-text text-muted">
              💰 Prix : <span class="fw-bold">{{ provision.coeff }} €</span>
            </p>
            <section class="prestation container text-center my-5">
              <div class="row g-5 justify-content-center">
                <div class="col-12 col-md-4">
                  <div class="">
                    <img [src]="serviceList[0].imgUrl" alt="service" class="rounded-circle" />
                    <br />
                    <strong class="service-name">{{ serviceList[0].nameService }}</strong>
                  </div>
                </div>
              </div>
            </section>

            <!-- Bouton Ajouter -->
            <!-- <button class="btn btn-success mt-2" (click)="addToCart(provision)">
                Ajouter au panier
              </button> -->
          </div>
        </div>
      </div>
    }
  </div>
</div>
