<div class="row mb-4">
  <div class="col">
    @if (users$ | async; as users) {
      @if (users.length > 0) {
        <div class="row g-4">
          @for (user of users; track user.id) {
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card shadow-sm border-0 rounded-4 p-4 h-100 d-flex flex-column justify-content-between">
                <div class="text-center border-bottom pb-3 mb-3">
                  <div class="fs-6 text-muted mb-1">#{{ user.id }}</div>
                  <div class="fw-semibold fs-5 text-dark mb-1">{{ user.firstName }} {{ user.lastName }}</div>
                  <div class="text-secondary small">{{ user.email }}</div>
                </div>

                <div class="d-flex justify-content-between">
                  <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteUser(user.id!)">Supprimer</button>
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="selectUser(user)">Modifier</button>
                </div>
              </div>
            </div>
          }
        </div>
      } @else {
        <p class="text-muted text-center">Il y a eu une erreur ou aucun utilisateur trouvé.</p>
      }
    } @else {
      <p class="text-muted text-center">Chargement des utilisateurs...</p>
    }
  </div>
</div>

@if (selectedUser) {
  <app-update-user [user]="selectedUser" (updated)="selectedUser = null"></app-update-user>
}