<section class="py-2 pb-5">
  <div class="row d-flex justify-content-center py-5">
    <div class="col-md-10 col-xl-8 text-center">
      <h2 class="mb-2">Ils parlent de nous</h2>
    </div>
  </div>

  <div class="row text-center bg-light p-3 text-black">
    <div class="col-md-4 mb-5 mb-md-0 my-5">
      <div class="text-center">
        <img src="assets/testimonials/testimonials-1.png" width="100" height="100" alt="Image témoignage client" class="" />
      </div>
      <h5 class="mb-3">Maria Smantha</h5>
      <h6 class="text-secondary mb-3">Comptable</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Grâce à cette plateforme, j’ai pu trouver une aide de confiance pour accompagner ma mère dans ses déplacements quotidiens.
        Le service est rapide, clair et très humain. Un vrai soulagement pour toute la famille !
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star-half-alt fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-5 mb-md-0 my-5">
      <div class="text-center">
        <img src="assets/testimonials/testimonials-2.png" width="100" height="100" alt="Image témoignage client" class="" />
      </div>
      <h5 class="mb-3">Lisa Cudrow</h5>
      <h6 class="text-secondary mb-3">Graphic Designer</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>J’utilise le service pour mes trajets professionnels et personnels. Les accompagnants sont toujours ponctuels et à l’écoute.  
        C’est agréable de pouvoir compter sur une équipe formée et bienveillante.
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-0 my-5">
      <div class="text-center">
        <img src="assets/testimonials/testimonials-3.png" width="100" height="100" alt="Image témoignage client" class="" />
      </div>
      <h5 class="mb-3">John Smith</h5>
      <h6 class="text-secondary mb-3">Ensegnant</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Nous faisons appel à vos intervenants pour les promenades de mon père.  
        Il a retrouvé confiance et autonomie, et parle souvent avec joie des sorties organisées.  
        Merci pour votre professionnalisme et votre bienveillance.
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="far fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
  </div>
</section>
