.cover-container {
  background-image: url("/assets/mer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font: bold;
  /* margin-top: -50px; */
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  .cover-container {
    height: 60vh;
  }
  h1 {
    font-size: 2rem;
  }
}

.btn-custom {
  background-color: white;
  font-size: 1.8rem;
  padding: 12px 24px;
}
