<section id="bannerHome" class="py-12 position-relative">
  <div class="cover-container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="mb-auto p-5 bd-highlight">Besoin d'accompagnement?</h1>
        <div class="text-center">
          <div class="d-flex justify-content-center mb-4">
            <input type="text" class="form-control w-75 rounded-pill px-4 py-3 fs-5" placeholder="Rechercher..." />
            <button class="btn btn-dark rounded-pill ms-2 px-4 fs-5" type="button">🔍</button>
          </div>
          <a routerLink="/product-list" class="btn btn-outline-dark rounded-pill text-dark btn-custom">Chercher maintenant</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-provider-list></app-provider-list>

<!-- Services -->
<section class="we py-5">
  <!-- qui sommes nous -->
  <h2 class="text-center mb-4">Pourquoi HandyApp?</h2>

  <div class="container we-content py-5 px-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3 text-center">
          <img
  src="../../../assets/mer.jpg"
  height="500"
  width="500"
  class="img-fluid lotus-image"
  alt="Description de l'image de la mer"
/>
        </div>
      </div>

      <div class="col-lg-6">
        <!-- On copie ça le nombre de fois ou on a besoin -->
        <div class="mb-3 history">
          <h3 class="text-center">A propos de nous</h3>
          <p class="mx-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat molestias ex at aperiam. Vitae delectus reprehenderit inventore quos
            blanditiis, eos dignissimos mollitia laboriosam aspernatur iste iusto temporibus ab exercitationem a.
          </p>
          <h3 class="text-center">Qualité et efficacité exceptionnels</h3>
          <p class="mx-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat molestias ex at aperiam. Vitae delectus reprehenderit inventore quos
            blanditiis, eos dignissimos mollitia laboriosam aspernatur iste iusto temporibus ab exercitationem a
          </p>
          <p class="mx-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea praesentium, sed officiis hic iusto eos blanditiis ex excepturi totam
            molestiae est doloremque necessitatibus qui aliquam cumque error omnis, facere iste!
          </p>
          <a href="" class="buton-second">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Ils parlent de nous  -->
<section class="py-5">
  <div class="row d-flex justify-content-center py-5">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-2">Ils parlent de nous</h3>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0"></p>
    </div>
  </div>

  <div class="row text-center bg-secondary p-3 text-white">
    <div class="col-md-4 mb-5 mb-md-0 my-5">
      <div class="d-flex justify-content-center mb-4">
        <!-- <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
            class="rounded-circle shadow-1-strong"
            width="150"
            height="150"
          /> -->
      </div>
      <h5 class="mb-3">Maria Smantha</h5>
      <h6 class="text-primary mb-3">Comptable</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
        ad velit ab hic tenetur.
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star-half-alt fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-5 mb-md-0 my-5">
      <div class="d-flex justify-content-center mb-4">
        <!-- <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
            class="rounded-circle shadow-1-strong"
            width="150"
            height="150"
          /> -->
      </div>
      <h5 class="mb-3">Lisa Cudrow</h5>
      <h6 class="text-primary mb-3">Graphic Designer</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        aliquid commodi.
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-0 my-5">
      <div class="d-flex justify-content-center mb-4">
        <!-- <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
            class="rounded-circle shadow-1-strong"
            width="150"
            height="150"
          /> -->
      </div>
      <h5 class="mb-3">John Smith</h5>
      <h6 class="text-primary mb-3">Ensegnant</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        deleniti atque corrupti.
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="far fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
  </div>
</section>
