.order-details-container {
  background-color: #f8f9fa;
  width: 100%;
}
h3 {
  color: #007bff;
  margin-bottom: 10px;
}
.order-details-container .btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  