.order-details-container {
  background-color: #f8f9fa;
  width: 100%;
  border: #007bff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(96, 23, 23, 0.1);
}
h3 {
  color: #007bff;
  margin-bottom: 10px;
}
.order-details-container .btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
