 @if (isAdmin$ | async) { 

<div class="order-details-container">
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <h3>Créer un nouveau produit</h3>
    <input type="text" [(ngModel)]="newProduct.name" name="name" placeholder="Nom du produit" class="form-control mb-2" />
    <input type="number" [(ngModel)]="newProduct.coeff" name="coeff" placeholder="Prix" class="form-control mb-2" />
    <button type="submit" class="btn btn-primary mt-2">Créer le produit</button>
    <div *ngIf="successMessageUpdate" class="alert alert-success mt-2" role="alert">
      {{ successMessageUpdate }}
    </div>
  </form>
</div>
} 
