@if (feedbacks$ | async; as feedbacks) {
  @if (feedbacks.length > 0) {
    <div class="feedback-section mt-5">
      <h4 class="mb-3">Commentaires :</h4>
      <ul class="list-group">
        @for (fb of feedbacks; track fb.id) {
          <li class="list-group-item">
            {{ fb.content }}
            <app-delete-feedback [feedbackId]="fb.id" (deleted)="onFeedbackDeleted(fb.id)"> </app-delete-feedback>
          </li>
        }
      </ul>
    </div>
  } @else {
    <p class="text-muted fst-italic">Aucun commentaire disponible.</p>
  }
}
