.card {
    border-radius: 10px;
  }
  
  th, td {
    width: 14.28%;
    height: 60px;
    vertical-align: middle;
    font-weight: 500;
  }
  
  .table-bordered td {
    background-color: #f8f9fa;
  }
  