<header class="bg-dark text-white py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="col-12 col-md-3 mb-4 mb-md-0">
      <img src="assets/logo.png" alt="Logo Alfred" class="img-fluid" />
    </div>
    <span class="header-logo">Handy App</span>

    <nav class="d-none d-md-flex gap-4">
      <a [routerLink]="''" class="nav-link">Accueil</a>
      <a [routerLink]="'/products'" class="nav-link">Services</a>
      <a [routerLink]="'/providers-list'" class="nav-link">Prestataires</a>
      <a [routerLink]="'/contact'" class="nav-link">Contact</a>
    </nav>

    @if (isLoggedIn) {
      <button type="button" class="btn btn-danger" (click)="onLogout()">Déconnexion</button>
    } @else {
      <button type="button" class="header-button btn btn-success" (click)="navigateToSignUpPage()">Se connecter/ s'inscrire</button>
    }
    @if (isProvider) {
      <a [routerLink]="'/providers'" class="nav-link">Mon profil (prestataire)</a>
    }
    @if (isAdmin$ | async) {
      <a [routerLink]="'/admin'" class="nav-link">Mon profil (admin)</a>
    }
    <button class="btn btn-light d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu">☰</button>
  </div>

  <div class="collapse bg-dark p-3" id="mobileMenu">
    <nav class="d-flex flex-column text-center">
      <a [routerLink]="''" class="nav-link">Accueil</a>
      <a [routerLink]="'/products'" class="nav-link">Services</a>
      <a [routerLink]="'/providers-list'" class="nav-link">Prestataires</a>
      <a [routerLink]="'/contact'" class="nav-link">Contact</a>
    </nav>
  </div>
</header>
