<header class="bg-dark text-white py-3 position-relative">
  <div class="position-absolute start-0 top-50 translate-middle-y ms-3">
    <a [routerLink]="''">
      <img src="assets/logo.png" alt="Logo Alfred" class="img-fluid logo" />
    </a>
  </div>

  <div class="container px-0 d-flex flex-column flex-md-row align-items-center ustify-content-center position-relative">
    <nav class="d-none d-md-flex gap-4 mx-auto">
      <a [routerLink]="''" class="nav-link">Accueil</a>
      <a [routerLink]="'/products'" class="nav-link">Services</a>
      <a [routerLink]="'/providers-list'" class="nav-link">Prestataires</a>
      <a [routerLink]="'/contacts'" class="nav-link">Contact</a>
    </nav>
    <div class="d-flex align-items-center gap-2">

    @if (isLoggedIn) {
      <button type="button" class="btn btn-danger d-none d-md-block me-3" (click)="onLogout()">Déconnexion</button>
    } @else {
      <div class="d-flex align-items-center gap-2 d-none d-md-flex">
        <button type="button" class="header-button btn btn-success d-none d-md-block" (click)="navigateToSignUpPage()">Se connecter</button>
        <a [routerLink]="'/signup'" class="text-white text-decoration-underline d-none d-md-block"> S'inscrire </a>
      </div>
    }
  </div>

    @if (isLoggedIn) {
      @if (isProvider$ | async) {
        <a [routerLink]="'/providers'" class="nav-link">Mon profil (prestataire)</a>
      } @else if (isAdmin$ | async) {
        <a [routerLink]="'/admin'" class="nav-link">Mon profil (admin)</a>
      } @else {
        <a [routerLink]="'/client'" class="nav-link">Mon profil</a>
      }
    }
  </div>

  <div class="collapse bg-dark p-3 d-md-none d-flex flex-column align-items-center text-center" id="mobileMenu">
    <nav class="d-flex flex-column gap-2 w-100">
      <a [routerLink]="''" class="nav-link text-white">Accueil</a>
      <a [routerLink]="'/products'" class="nav-link text-white">Services</a>
      <a [routerLink]="'/providers-list'" class="nav-link text-white">Prestataires</a>
      <a [routerLink]="'/contacts'" class="nav-link text-white">Contact</a>

      @if (isLoggedIn) {
        <button type="button" class="btn btn-danger mt-3" (click)="onLogout()">Déconnexion</button>
      } @else {
        <button type="button" class="btn btn-success mt-3" (click)="navigateToSignUpPage()">Se connecter</button>
        <a [routerLink]="'/signup'" class="text-white text-decoration-underline"> S'inscrire </a>
      }
    </nav>
  </div>
</header>
