<p>admin-home works!</p>
<div class="container py-5">
  <h2 class="text-center mb-4">Bienvenue sur le tableau de bord Admin 👑</h2>
  <p>Créér / Modifier / Supprimer et gouverner</p>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Services</h5>
          <p class="card-text">Créer, modifier ou supprimer des services.</p>
          <a routerLink="/products" class="btn btn-primary">Gérer les services</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Utilisateurs</h5>
          <p class="card-text">Afficher la liste des utilisateurs et gérer leurs rôles.</p>
          <a routerLink="/users-list" class="btn btn-primary">Voir les utilisateurs</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Liste des commandes</h5>
          <p class="card-text">Gérer la liste des commandes.</p>
          <a routerLink="/admin/stats" class="btn btn-primary">Voir les stats</a>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 text-center"></div>
</div>
