

<h3 class="fw-bold text-primary">Liste des services disponibles</h3>
<div class="card shadow-sm p-4">
  @if (provisions$ | async; as provisions) {
    @if (provisions.length > 0) {
      <ul class="list-group">
        @for (provision of provisions; track provision.id) {
          <li>
            <label>
              <input type="radio" name="selectedProvision" [value]="provision.id" [(ngModel)]="selectedProvisionId" />
              {{ provision.name }}
            </label>
          </li>
        }
      </ul>

      <div class="text-center mt-3">
        <button type="button" class="btn btn-primary mt-3" (click)="attachServiceToConnectedProvider()">Ajouter ce service</button>
      </div>

      @if (message) {
        <p>{{ message }}</p>
      }
    } @else {
      <p>Aucun service disponible.</p>
    }
  } @else {
    <p>Chargement...</p>
  }
</div>
