<footer class="bg-dark text-white py-5 px-3 px-md-4 px-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <img src="assets/logo.png" alt="Logo Alfred" class="img-fluid" />
      </div>

      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <div class="mb-3" style="max-width: 290px">Lorem ipsun street, 1503 Sofia , Bulgaria</div>
        <div class="mb-2"><i class="bi bi-telephone me-2"></i>(3592) 888236692</div>
        <div>
          <i class="bi bi-envelope me-2"></i>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <h5 class="fw-bold mb-3">HandyApp</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none d-block mb-2">A propos</a></li>
          <li>
            <a href="https://handicap.gouv.fr/les-articles-de-presse-et-les-actualites" class="text-white text-decoration-none d-block mb-2"
              >Nouvelles</a
            >
          </li>
          <li><a href="#" class="text-white text-decoration-none d-block mb-2">Relations</a></li>
          <li><a href="#" class="text-white text-decoration-none d-block mb-2">Rejoignez-nous</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-3">
        <h5 class="fw-bold mb-3">Resources</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none d-block mb-2">Commencez</a></li>
          <li><a href="#" class="text-white text-decoration-none d-block mb-2">Apprenez</a></li>
          <li><a href="#" class="text-white text-decoration-none d-block">Cas pratiques</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
