
h1 {
  font-size: 2.2rem; 
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem; 
  }
}

h1,
h2 {
  text-shadow: 2px 2px 5px black;
}

.image-clipped {
  clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
}