<section id="bannerHome" class="py-12 position-relative">
  <div class="cover-container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="mb-auto p-5 bd-highlight">Besoin d'accompagnement?</h1>
        <div class="text-center">
          <h2 class="mb-auto p-5 bd-highlight">Crééz votre profil et avancez avec confiance vers vos objectifs</h2>

          <div class="d-flex justify-content-center mb-4">
            <input type="text" class="form-control w-75 rounded-pill px-4 py-3 fs-5" placeholder="Rechercher..." />
            <button class="btn btn-dark rounded-pill ms-2 px-4 fs-5" type="button">🔍</button>
          </div>
          <a routerLink="/product-list" class="btn btn-outline-dark rounded-pill text-dark btn-custom">Chercher maintenant</a>
        </div>
      </div>
    </div>
  </div>
</section>
