h1 {
  font-size: 5rem;
}

h1,
h2 {
  text-shadow: 2px 2px 5px black;
}
// @media screen and (max-width: 768px) {
//   .cover-container {
//     height: 60vh;
//   }

// .btn-custom {
//   background-color: white;
//   font-size: 1.8rem;
//   padding: 12px 24px;
// }

.image-clipped {
  clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
}
