h2 {
  color: #0b0b0b;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 50px 0 10px;
}

.prestation {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 0.75rem;
  border: none;
  margin-top: 1.5rem;
}

.prestation:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #212529;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 25px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
  transform: scale(1.05);
}
