<div class="container all my-5 pb-5 px-4">
  <h2 class="text-center mb-5">Nos Services</h2>

  @if (selectedItem) {
    <div class="col-12 mt-4">
      <app-product [product]="selectedItem" (closeDetails)="CloseDetails()"></app-product>
    </div>
  }

  <div class="row justify-content-center">
    @if (products$ | async; as products) {
      @if (products.length === 1) {
        <div class="col-12 col-md-10 offset-md-1 mb-4">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-body text-center"></div>
            <div class="text-center">
              <img [src]="serviceList[products[0].id % serviceList.length].imgUrl" alt="service" class="prestation mb-3" />
              <h5 class="card-title fw-bold text-black">{{ products[0].name }}</h5>
              <p class="card-text">
                💰 <strong>{{ products[0].coeff | currency: 'EUR' }}</strong>
              </p>
              <button type="button" class="btn btn-success" (click)="onSelectProduct(products[0])">Voir les détails</button>
            </div>
          </div>
        </div>
      } @else {
        @for (product of products; track product.id) {
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="p-4 shadow rounded-4 bg-white h-100 d-flex flex-column justify-content-between">
              <div class="d-flex justify-content-between text-secondary small mb-3"></div>
              <div class="text-center">
                <img [src]="serviceList[product.id % serviceList.length].imgUrl" alt="service" class="prestation" />
                <h5 class="mt-3 card-title">{{ product.name }}</h5>
                <p class="card-text">
                  💰 <strong>{{ product.coeff | currency: 'EUR' }}</strong>
                </p>
                <button type="button" class="btn btn-success" (click)="onSelectProduct(product)">Voir les détails</button>
              </div>
            </div>
          </div>
        }
      }
    } @else {
      <div class="text-center text-muted my-5">Chargement des produits...</div>
    }
  </div>
</div>
